

.todo-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.todo-item.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

input[type="text"] {
  flex-grow: 1;
  width: 70%;
  padding: 8px;
}

button[type="submit"]{
  width: 20%;
  margin-left: 7%;
}
button {
  
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #1c00f0;
  color: white;
  border: none;
  border-radius: 4px;
}


button:hover {
  background-color: #0056b3;
}

.buttonDiv{
  margin-left: auto;
}