<!DOCTYPE html>
<html>
<head>
    <title>PhoneBook</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Телефонный справочник</h1>

{{{body}}}


<script src="/js/script.js"></script>
</body>
</html>
